<div class="contentContainer">
    <h1>{{title}}</h1>
    <br>
    <input #search type="text" name="search" placeholder="Busqueda..." (keyup.enter)="onFindStarship(search.value)"/>
    <br>

    <div *ngIf="names.length == 0"
        class="loading">
        Cargando...
    </div>

    <div *ngIf="names.length > 0">
        <div class="infoContainer">
            <h2>{{starship.name}}</h2>
            <hr>        
            <b><p>Model: {{starship.model}}</p></b>
            <b><p>Manufacturer: {{starship.manufacturer}}</p></b>
            <b><p>Crew: {{starship.crew}}</p></b>
            <b><p>Length: {{starship.length}}</p></b>
            <b><p>Consumables: {{starship.consumables}}</p></b>
        </div>
    </div>  
</div>