/* You can add global styles to this file, and also import other style files */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#barra_nav ul{
   list-style-type: none;
   text-align: center;
}

#barra_nav li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

#barra_nav li a {
   padding: 2px 7px 2px 7px;
   color: #FFFFFF;
   background-color: #000000;
   border: 1px solid #FFFF00;
   text-decoration: none;
}

#barra_nav li a:hover{
   background-color: #333333;
   color: #ffffff;
}
